.Contact {
    background-color: #2879FE;
    color: #f0f0f0;

    display: flex;
    padding: 15px;
    justify-content: center;

    @media screen and (max-width: 768px) {
        padding: 5px;
        font-size: 10px;

    }

    .Wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }


        span {
            font-weight: bold;
        }

        input {
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;


            @media screen and (max-width: 768px) {
                padding: 5px;
                font-size: 10px;
                border-radius: 0;
            }

        }

        button {
            padding: 10px;
            border: none;
            border-radius: 0 5px 5px 0;
            background-color: #333;
            color: #f0f0f0;
            font-weight: bold;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                padding: 5px;
                font-size: 10px;
                border-radius: 0;


            }

            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: #555;
            }
        }

    }
}