.Categories{
    display: flex;
    height: 80vh;
    gap: 10px;


    .Column{
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;


    }

    .Column.Col{
        flex: 2;
    }

    .Row{
        display: flex;
        flex: 1;
        justify-content: center;
        gap: 10px;
        position: relative;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        button{
            position: absolute;
            height: 50px;
            min-width: 100px;
            padding: 10px;
            border-radius: 10px;
            border: none;
            background-color: #000000;
            color: #ffffff;
            font-size: 1.2rem;
            font-weight: 600;
            width: fit-content;
            cursor: pointer;
            transition: all 0.2s ease-in-out;


            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;

            &:hover{
                cursor: pointer;
                background-color: #ffffff;
                color: #000000;
            }



        }
    }
}