.Navbar{
    height: 80px;
    .Wrapper{
        display: flex;
        padding: 10px 30px;
        justify-content: space-between;
        align-items: center;

        .Item{
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .Left{
            display: flex;
            gap: 25px;
            img{
                width: 25px;
                height: 20px;
            }
        }

        .Center{
            font-size: 30px;
            letter-spacing: 2px;

        }

        .Right{
            gap: 25px;
            display: flex;

            .Icons{
                display: flex;
                gap: 15px;
                color: #777;
                cursor: pointer;

                .CartIcon{
                    position: relative;
                    span{
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        top: -8px;
                        right: -8px;
                        background-color: #F11A7B;
                        color: #fff;
                        border-radius: 50%;
                        font-size: 12px;
                        font-weight: 00;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            
        }
    }
}