.Footer{
    margin: 100px 200px 20px 200px;

    .Top{
        display: flex;
        gap: 50px;
        .Item{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: justify;
            font-size: 14px;

            h1{
                font-size: 18px;
                font-weight: bold;
                color: #555;
                margin: 10px 0px;
            }

            span{
                color: gray;
            }
        }
    }

    .Bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;

        .Left{
            display: flex;
            align-items: center;
            gap: 20px;

            .Logo{
                color: #4E4FEB;
                font-size: 30px;
                font-weight: bold;
                user-select: none;
            }

            .Copyright{
                color: gray;
                font-size: 14px;
            }

        }

        .Right{

            img{
                height: 50px;
                object-fit: contain;
            }

        }
    }
}