.FeaturedProducts{
    margin: 100px 200px;

    .Top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            font-size: 30px;
            font-weight: 700;

            flex: 2;
        }

        p{
            flex: 3;
            font-size: 14px;
            font-weight: 500;
            color: #8e8e8e;
        }

    }

    .Bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

    }
}