.FeaturedProducts{
    margin: 100px 200px;
    
    @media screen and (max-width: 768px) {
        margin: 50px 0;
    }
        

    .Top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }

        h1{
            font-size: 30px;
            font-weight: 700;

            flex: 2;
        }

        p{
            flex: 3;
            font-size: 14px;
            font-weight: 500;
            color: #8e8e8e;
        }

    }

    .Bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }

        h1{
            font-size: 30px;
            font-weight: 700;

        }
    }
}